* {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.nav {
  background-color: #fff;
  height: 60px;
}
.nav .logo {
  width: 86px;
  height: 34px;
}
.nav .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  height: 60px;
}
.nav .content .item {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 812px;
  background: url(./images/banner.png) no-repeat center/100% 100%;
  overflow: hidden;
}
.banner .title {
  margin-top: 200px;
  font-size: 38px;
  font-weight: bold;
}
.banner .desc {
  margin-top: 20px;
  font-size: 15px;
  font-style: italic;
}
.banner .btn {
  margin-top: 80px;
  display: block;
  padding-left: 25px;
  width: 180px;
  height: 50px;
  line-height: 50px;
  background: url(./images/arrow.png) no-repeat center/100% 100%;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
}

.common-title {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 60px;
  height: 60px;
  text-align: center;
}
.common-sub-title {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.area {
  margin-top: 100px;
}

.hot-product .left {
  width: 50%;
  height: 360px;
}
.hot-product .left .pic {
  width: 100%;
  height: 360px;
}
.hot-product .right .box .pic {
  margin-right: 20px;
  width: 150px;
  height: 100px;
}
.hot-product .right .box {
  line-height: 30px;
  margin-bottom: 30px;
}
.hot-product .right .box:last-of-type {
  margin-bottom: 0;
}
.hot-product .right .box .name {
  width: 150px;
  font-size: 18px;
  font-weight: bold;
}
.hot-product .right .box .desc {
  font-size: 15px;
  font-style: italic;
}

.our-products .box {
  width: 32%;
  margin-right: 2%;
  margin-top: 30px;
}
.our-products .box:nth-child(3n) {
  margin-right: 0;
}
.our-products .box .pic {
  display: block;
  width: 100%;
  height: 280px;
}
.our-products .box .name {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}
.our-products .box .desc {
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.new-arrival .left {
  width: 50%;
  height: 360px;
}
.new-arrival .left .pic {
  width: 100%;
  height: 360px;
}
.new-arrival .right .box {
  padding: 10px;
  line-height: 30px;
  margin-left: 100px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 10px #ccc;
}
.new-arrival .right .box:last-of-type {
  margin-bottom: 0;
}
.new-arrival .right .box .name {
  width: 150px;
  font-size: 18px;
  font-weight: bold;
}
.new-arrival .right .box .desc {
  font-size: 18px;
  font-style: italic;
}

.about-us .box {
  width: 32%;
  margin-right: 2%;
  margin-top: 30px;
}
.about-us .box:nth-child(3n) {
  margin-right: 0;
}
.about-us .box .pic {
  display: block;
  width: 100%;
  height: 235px;
}
.about-us .box .name {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.about-us .box .desc {
  font-size: 18px;
  font-style: italic;
}

.our-services .box {
  width: 32%;
  margin-right: 2%;
  margin-top: 30px;
  box-shadow: 2px 2px 10px #ccc;
}
.our-services .box:nth-child(3n) {
  margin-right: 0;
}
.our-services .box .pic {
  margin: 40px auto 0 auto;
  display: block;
  width: 248px;
  height: 192px;
}
.our-services .box .name {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.our-services .box .desc {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}
.our-services .box .arrow {
  margin: 20px auto;
  display: block;
  text-decoration: none;
  width: 80px;
  height: 32px;
  color: #000;
}

.contact-us .box {
  margin: 0 auto;
  width: 424px;
  font-size: 18px;
}
.contact-us .box .pic {
  display: block;
  width: 424px;
  height: 288px;
}
.contact-us .box .name {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
.contact-us .box .desc {
  font-size: 18px;
  font-style: italic;
  text-align: center;
}
.contact-us .box .btn {
  margin: 20px auto 10px auto;
  display: block;
  text-decoration: none;
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: aquamarine;
  text-align: center;
}
.contact-us .box .tips {
  text-align: center;
}
.contact-us .info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.contact-us .info .item {
  font-size: 18px;
  font-weight: bold;
  background-color: #ccc;
  padding: 2px 8px;
}

.footer {
  padding: 20px;
  height: 200px;
  background-color: rgb(172, 174, 249);
  box-sizing: border-box;
}
.footer .logo {
  width: 145px;
  height: 36px;
}
