* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 60px;
  z-index: 100;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
}

.nav .logo {
  width: 100px;
  height: 35px;
}

.nav .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  height: 60px;
}

.nav .content .item {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 812px;
  background: url(./images/banner.png) no-repeat center/100% 100%;
  overflow: hidden;
}

.banner .title {
  margin-top: 200px;
  font-size: 38px;
  font-weight: bold;
}

.banner .desc {
  margin-top: 20px;
  font-size: 15px;
  font-style: italic;
}

.banner .btn {
  margin-top: 80px;
  display: block;
  padding-left: 25px;
  width: 180px;
  height: 50px;
  line-height: 50px;
  background: url(./images/arrow.png) no-repeat center/100% 100%;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.banner .btn:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.common-title {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 60px;
  height: 60px;
  text-align: center;
  font-weight: bold;
}

.common-sub-title {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.area {
  padding-top: 100px;
}

.hot-product .left {
  width: 50%;
  height: 360px;
}

.hot-product .left .pic {
  width: 90%;
  height: 360px;
  margin-top: 80px;
}

.hot-product .right .box .pic {
  margin-right: 20px;
  width: 150px;
  height: 100px;
  margin-top: 80px;
}

.hot-product .right .box {
  line-height: 30px;
  margin-bottom: 00px;
}

.hot-product .right .box:last-of-type {
  margin-bottom: 80px;
}

.hot-product .right .box .name {
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 80px;
}

.hot-product .right .box .desc {
  font-size: 15px;
  font-style: italic;
}

.our-products .box {
  width: 30%;
  margin-right: 2%;
  margin-top: 30px;
  margin-top: 100px;
}

.our-products .box:nth-child(3n) {
  margin-right: 0;
}

.our-products .box .pic-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.our-products .box .pic {
  display: block;
  width: 100%;
}

.our-products .box .pic-wrap .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.our-products .box .pic-wrap .overlay::after {
  content: '';
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translateY(-50%, -50%);
}

.our-products .box:hover .pic-wrap .overlay {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

.our-products .box .name {
  margin-top: 18px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.our-products .box .desc {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.new-arrival .left {
  width: 50%;
  height: 360px;
}

.new-arrival .left .pic {
  width: 80%;
  height: 360px;
  margin-left: 100px;
  margin-top: 150px;
}

.new-arrival .right .box {
  padding: 10px;
  line-height: 30px;
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 50px;
  box-shadow: 2px 2px 10px #ccc;
  margin-top: 80px;
}

.new-arrival .right .box:last-of-type {
  margin-bottom: 0;
}

.new-arrival .right .box .name {
  width: 260px;
  font-size: 18px;
  font-weight: bold;
}

.new-arrival .right .box .desc {
  font-size: 15px;
  font-style: italic;
}

.about-us .box {
  width: 32%;
  margin-right: 2%;
  margin-top: 30px;
}

.about-us .box:nth-child(3n) {
  margin-right: 0;
}

.about-us .box .pic {
  display: block;
  width: 100%;
  height: 235px;
  margin-top: 80px;
}

.about-us .box .name {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.about-us .box .desc {
  font-size: 15px;
  font-style: italic;
  margin-top: 5px;
}

.our-services .box {
  width: 32%;
  margin-right: 2%;
  margin-top: 30px;
  box-shadow: 2px 2px 10px #ccc;
  margin-top: 80px;
}
.our-services .box:hover {
  background: #3956de;
  border-color: #3956de;
  color: #fff;
}
.our-services .box:hover .arrow {
  background: #3956de;
  border-color: #3956de;
  color: #fff;
}

.our-services .box:nth-child(3n) {
  margin-right: 0;
}

.our-services .box .pic {
  margin: 40px auto 0 auto;
  display: block;
  width: 110px;
  height: 96px;
}

.our-services .box .name {
  margin-top: 15%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.our-services .box .desc {
  font-size: 15px;
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

.our-services .box .arrow {
  margin: 20px auto;
  display: block;
  text-decoration: none;
  width: 80px;
  height: 30px;
  margin-top: 80px;
  color: #000;
}

.contact-us .box {
  width: 424px;
  font-size: 18px;
  margin-top: 80px;
}

.contact-us .box .pic {
  display: block;
  width: 424px;
  height: 288px;
}

.contact-us .box .name {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.contact-us .box .desc {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.contact-us .box .btn {
  margin: 20px auto 10px auto;
  display: block;
  text-decoration: none;
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: aquamarine;
  text-align: center;
  font-weight: bold;
}

.contact-us .box .tips {
  text-align: center;
}

.contact-us .info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.contact-us .info .item {
  font-size: 15px;
  background-color: #e6e6e6;
  padding: 2px 8px;
}

.contact-us .contact-form label {
  display: block;
  margin-bottom: 20px;
  color: #9b9bae;
}
.contact-us .contact-form input,
textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 10px;
  box-sizing: border-box;
  border: 1px solid rgba(155, 155, 174, 0.3);
  border-radius: 4px;
}
.contact-us .contact-form button[type='submit'] {
  width: 200px;
  height: 40px;
  color: #fff;
  background-color: #5252e4;
  border: 1px solid #5252e4;
  cursor: pointer;
}

.footer {
  padding: 50px 0 100px 0;
  background-color: #25282c;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
}
.footer .text-box {
  margin-left: 100px;
  text-align: center;
}
.footer .title {
  font-size: 30px;
  margin-bottom: 35px;
}

.footer .logo {
  width: 145px;
  height: 36px;
  margin-bottom: 10px;
}

.footer .left {
  line-height: 30px;
  margin-bottom: 00px;
  margin-top: 10px; /* 在下一个同级div上方添加间距 */
}

.footer .left .desc {
  font-size: 18px;
}

.footer .right .desc {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.footer .right .item {
  color: #fff;
  text-decoration: none;
}


.tip-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 50%;
  top: 61px;
  transform: translate(-50%, 0);
  margin: 0 auto;
  width: auto; /* Could be more or less, depending on screen size */
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.tip-modal span {
  padding: 0 10px; /* 左边和右边各10px的内边距 */
  margin: 0 5px; /* 左边和右边各5px的外边距 */
}

.success-message {
  background-color: #f0f9eb;
  border-color: 1px solid #e1f3d8;
  color: #67c23a;
}

.warning-message {
  background-color: #fdf6ec;
  border-color: 1px solid #faecd8;
  color: #e6a23c;
}
